{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Form Page</title>
        <link rel="stylesheet" href="{% static 'styles/static.css' %}">
    </head>
    <body>
        <form>
            <div class="container">
                <label for="fn">Full Name</label>
                <input type="text" required name="fn">
            </div>
            <div class="container">
                <label for="age">Age</label>
                <input type="number" required Id="age">
            </div>
            <div class="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>