{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Form Page</title>
        <link rel="stylesheet" href="{% static 'styles/static.css' %}">
    </head>
    <body>
        <form method="post" action="/form/">
            {% csrf_token %}
            <div class="container">
                <label for="fullname">Full Name</label>
                <input type="text" required name="fullname">
            </div>
            <div class="container">
                <label for="age">Age</label>
                <input type="number" required name="age">
            </div>
            <div class="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>